{% extends 'base.html' %}

    {% block hero %}
  <section>
            <div>
              <h1>Welcome to Snack</h1>
              <p>you are in Snack</p>
              <div>Read More</div>
            </div>
            <div>
              <h2>Snacky info</h2>
              <p>Snack was founded in the year 2020.</p>
              <div><a>Read More</a></div>
            </div>

            <div>
              <h1>Welcome to Snack</h1>
              <p>Take use of your snacks and your free time.</p>
              <div><a>Read More</a></div>
            </div>
  </section>
    {% endblock %}
    {% block main %}
        <section>
              <div>
                <h1>About Us</h1>
              </div>
    {% endblock %}